@model CoursesApp.Models.Dtos.StudentDto
@{
    ViewData["Title"] = "EditStudent";
}

<h1>EditStudent</h1>

@using (Html.BeginForm("EditStudent", "Student", FormMethod.Post, Model))
{
    @Html.HiddenFor(model => model.StudentId)
    <div class="student">
        <p>
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
        </p>
        <p>
            @Html.LabelFor(model => model.LastName)
            @Html.EditorFor(model => model.LastName)
        </p>
    </div>
    <p>
        <button type="submit">Save</button>
    </p>
}